.App {
  background-color: burlywood;
  max-width: 600;
  display: flex;
  width : 100%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 110vh;
  
}

.App-header {
  background-color: #394f7a;
  padding-top : 1vh;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%
}

.App-logo {
  height: 20vw;
}

.container {
  display : flex;
  justify-content: center;
  flex-direction: row;
  /* min-height: 100vh; */
  width: 100%;
}

.rikishi {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 50%;
  font-size: 18px;
}

.selector {
  text-align: center;
  border : 1 solid black;
  border-radius: 10px;
  font-size: 18px;
  margin : 1em 0.5em 1.5em;
}

.matches {
  margin-top: 10px;
  flex-grow: 1;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results h2, h3 {
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0px;
}

.about {
  text-align: center;
  /* position: fixed; */
  height: 20px;
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction : column;
  }
}