.App {
  max-width: 600;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #324a79;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display : flex;
  justify-content: center;
}

.sidebar {
  background-color: brown;
  flex : 1;
}

.main {
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex : 6;
}