# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

#apify junk folders
/apify_storage/datasets
/apify_storage/deafult
/apify_storage/request_queues
apify_storage/request_queues/default
apify_storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_0.json
apify_storage/key_value_stores/default/SDK_SESSION_POOL_STATE.json